.cart-form-container-inside {
  background-color: var(--background-color);
}

.cart-form {
  padding-inline: 32px;
  padding-block: 48px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
