#cart-widget {
  display: flex;
  align-items: center;
}

#cart-widget img {
  margin-right:  2px;
  width: 28px;
}

.notification {
  position: relative;
  top: 35%;
  border: 2.7px solid var(--accent-color);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 10.33px;
  font-weight: 1000;
  color: var(--primary-color);
  padding-top: 2px;
  font-family: "NotoSansMarchen";  
}

@media (min-width: 576px) {
  #cart-widget img {
    width: 48px;
    margin-right:  5px;
  }
  .notification {
    width: 23.2px;
    height: 23.2px;
    font-size: 12.33px;
  }
}



