#cart-widget {
  display: flex;
  align-items: center;
}

.notification {
  position: relative;
  top: 32%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding-top: 1px;
  font-family: "NotoSansMarchen";
  font-size: var(--small-size);
  font-weight: 700;
  color: var(--primary-color);
  /* padding: 5px; */
}