.cart-total-container-inside {
  background-color: var(--background-color);
  min-width: 20.3125rem;
}

.cart-total {
  padding-inline: 32px;
  padding-block: 48px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-total-price {
  display: flex;
  justify-content: space-between;
}