.cart-form-container-inside {
  background-color: var(--background-color);
}

.cart-form {
  padding-inline: 32px;
  padding-block: 48px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 13.66px;
}

.form-control {
  border-radius: 8px;
}
