.cart-item-container {
  background-color: var(--background-color);
  margin-bottom: 32px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px; 
  text-align: start; 
}

.cart-item-left {
  display: flex;
  gap: 24px;
}

.cart-item-left img {
  aspect-ratio: 284 / 350;
  width: 140px;
  border-radius: 8px;
}

.cart-item-left div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding-block: 24px;
}

.cart-eliminar {
  width: fit-content;
  padding: 4px 8px;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-width: 1.5px;
}

.cart-item-right {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 16px;
}