.checkout-container {
  padding: 12px;
}

.checkout-upper-side {
  display: grid;
  gap: 32px;
}

.cart-extra-buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
  padding-inline: 16px;
  padding-bottom: 16px;
}

.checkout-left-side {
  display: grid;
  gap: 48px;
}

.cart-total-container {
  min-width: 336px;
}

.cart-title {
  text-align: start;
  color: var(--accent-color);
  padding-bottom: 16px;
}

@media (min-width: 490px) {
  .checkout-container {
    padding: 32px;
  }
}

@media (min-width: 992px) {
  .checkout-upper-side {
    grid-template-columns: 2fr 1fr;
  }
}