.detail-container {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.detail-card {
  width: 314px;
  padding: 16px; 
}

.detail-body {
  gap: 7px;
}

.detail-section {
  display: flex;
  justify-content: space-between;
}

.detail-text {
  max-width: 120px;
  text-align: end;
}