.add-btn {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.counter-btn {
  padding-inline: 16px;
  background-color: var(--background-color);
}

.counter {
  padding-inline: 12px;
}