.home-col {
  max-width: max(85%, 17.5rem);
  margin-inline: auto;
}

.card-img-top {
  aspect-ratio: 284 / 350;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-col .card-body {
  padding-block: 24px;
}

.home-col .card-text {
  margin-bottom: 1.6875rem;
}

@media (min-width: 36rem) {
  .home-col {
    margin-inline: unset;
  }
}