.navbar {
  background-color: var(--background-color);
}

.container-fluid {
  padding-inline: 1rem;
}

#cart-toggle {
  display: flex;
}

@media (min-width: 36rem) {
  .container-fluid {
    padding-inline: 1.8rem;
  }
}

@media (min-width: 48rem) {
  .navbar-brand {
    order: 1;
  }
  .navbar-collapse {
    order: 2;
    flex-grow: unset;
    margin-left: -3%;
  }
  #cart-toggle {
    order: 3;
  }
}

@media (min-width: 62rem) {
  .navbar-collapse {
    margin-left: -12%;
  }
}
