.navbar {
  background-color: var(--background-color);
}

.container-fluid {
  padding-inline: 38px;
}

@media (min-width: 992px) {
  .navbar-brand {
    order: 1;
  }
  .navbar-collapse {
    order: 2;
    flex-grow: unset;
    margin-left: -15%;
  }
  #cart-toggle {
    order: 3;
  }
}
