/* .nav-link {
    color: var(--text-color);
} */

.nav-link:hover {
    color: var(--primary-color);
    font-weight: bold !important;
}

.active {
    color: var(--primary-color) !important;
    font-weight: bold !important;
}

@media (min-width: 62rem) {
    .nav-link {
        padding-inline: 24px !important;
    }
}