:root {
  /* colors */
  --primary-color: var(--bs-primary);
  --text-color: var(--bs-body-color);
  --background-color: var(--bs-secondary-bg);
}

/* @font-face {
  font-family: "NotoSansMarchen";
  src: url("./assets/NotoSansMarchen-Regular.ttf");
} */

body {
  overflow-x: hidden;
}